/*
==================
RESETS
==================
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*
==================
INDEX PAGE
==================
*/

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    background-color: #f4f5f8;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.index-nav {
    background-color: steelblue;
    padding: 0.9em 1.4em;
    box-shadow: 25px 25px 14px 0 rgba(0,0,0,0.1);
    width: 100%;
}

.index-header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu li {
    font-size: 0.9em;
    font-weight: 400;
}

.logo img {
    width: 50px;
    border-radius: 20px;
    background-color: rgb(230, 122, 221);
    box-shadow: 6px 6px 20px #000;
}

.menu input {
    padding: 6px;
    color: lightgrey;
    width: 35em;
    border-radius: 10px;
    box-shadow: -8px 8px 14px  rgba(0,0,0,0.1);
    text-align: center;
    margin-bottom: 0.6em;
}

.logo {
    flex: 1;
}

.searchbar {
    flex: 3;
}

.sub-menu {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sub-menu a {
    color: whitesmoke;
    font-weight: 800;
}

.sale {
    margin-top: 1.5em;
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 1em;
}

.countdown {
    font-size: 1.2em;
    font-weight: 1000;
    color: orangered;
}

.index-main {
    width: 100%;
    margin: auto;
    background-image: url("../img/main-background1.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center center;
    border-radius: 2em;
}

.categeory {
    text-align: center;
}

.categeory-1 {
    padding-top: 2em;
    font-size: 3em;
    font-weight: 900;
    color: black;
}

.categeory-2 a {
    text-decoration: none;
    color:whitesmoke;
    font-size: 1.5em;
    font-weight: 800;
}

.categeory-2 {
    padding-top: 1.5em;
}

.male {
    border: 3px solid darkgray;
    padding: 0.3em;
    border-radius: 0.5em;
    background-color: gray;
    box-shadow: 10px 10px 10px #000;
}

.seperator {
    margin: 0 1em;
    color: black;
    font-weight: 1000;
}

.male-logo {
    font-weight: 1000;
    color: blue;
    font-size: 1.5em;
}

.female-logo {
    font-weight: 1000;
    color: palevioletred;
    font-size: 1.5em;
}

.index-footer {
    margin-top: 4em;
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5em;
    background-color: steelblue;
    border-radius: 1em;
}

.footer-1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-2 {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.8em;
}

.foot {
    font-size: 1.5em;
    font-weight: 500;
}

.footer-2 strong {
    color: white;
}

/*
=========================

INDEX Hover effects

=========================
*/


/* main page */

.menu a:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid whitesmoke;
}

/*
==================
ITEMS PAGE
==================
*/

.main-items {
    background-color: lightgray;
}

.iitems img {
    width: 200px;
    height: 267px;
}

.iitems h4 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.iitems a{
    text-decoration: none;
    color: black;
}

.iitems {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 400px;
    justify-items: center;
    grid-gap: 2em;
}

.ishoe {
    padding: 2em;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
}

.main-items hr {
    margin-top: 2em;
    margin-bottom: 1em;
}

.inextpage {
    width: 80%;
    margin-top: 2em;
    margin: auto;
    text-align: center;
}

.inextpage span {
    margin-left: 2em;
    margin-right: 2em;
    padding: 0.5em 1em;
}

.inextpage span:hover {
    border: 1px solid black;
    background-color: gray;
}

.inextpage .button {
    border: 1.5px solid black;
    background-color: gray;
}

/*
==================
SINGLE PAGE
==================
*/

.singleitem img{
    width: 321px;
    border-radius: 0.5em;
}

.singleitem {
    background-color: lightgray;
    border-top: 5px solid steelblue;
    border-radius: 1em;
    padding: 1.5em;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.simg {
    margin-left: 5em;
}

.sproductdetails {
    margin-left: 7em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.singleitem select {
    color: #444;
    padding: 0.2em;
}

.singleitem h4 {
    margin-bottom: 0.6em;
}

.singleitem li {
    line-height: 1.4em;
}

.singleitem p {
    line-height: 1.4em;
}

.singleitem button {
    padding: 0.3em;
    border-radius: 0.6em;
    background-color: steelblue;
    font-weight: 800;
    margin-top: 0.8em;
}

.singleitem select {
    border-radius: 0.5em;
    background-color: whitesmoke;
    
}

/*
==================
CART PAGE
==================
*/

.cbody {
    background-color: whitesmoke;
}

.coneitem img {
    width: 120px;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.cimg {
    flex: 1;
}

.coneitem {
    width: 80%;
    background-color: lightgray;
    padding: 2em;
    border-radius: 1em;
    border-top: 5px solid steelblue;
    font-size: 1.1em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cdetails {
    flex: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cdetails-1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cdetails-2 {
    display: flex;
    justify-content: space-around;
}

.ctotal {
    flex: 2;
    display: flex;
    justify-content: space-around;
}

.coneitem button[type=button] {
    padding: 0.4em 0.4em;
    font-size: 1em;
    font-weight: 400;
    color: whitesmoke;
    background-color: steelblue;
    border-radius: 0.3em;
    box-shadow: 5px 5px 5px grey;
}

.coneitem a {
    text-decoration: none;
    color:black;
    font-weight: 600;
}

/*
==================
CHECKOUT PAGE
==================
*/

.chbody {
    background-color: whitesmoke;
}

.chcontainer, .chsummary {
    font-size: 14px;
}

.chbody h3 {
    font-size: 2em;
    text-align: center;
}

.chbody h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 2.5em;
    font-weight: 800;
}

.chbody label {
    display: block;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 1.4em;
}

.chbody input {
    width: 25em;
    padding: 0.5em;
    border-radius: 0.2em;
}


.chcontainer {
    background-color: lightgray;
    width: 80%;
    margin: auto;
    padding: 1.5em;
    border-top: 5px solid steelblue;
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 1em;
}

.chbilling {
    order: 1;
}

.chpayment {
    order: 2;
}

.chpayment-form {
    display: flex;
    flex-direction: column;

}

.chbutton {
    margin-top: 3em;
    align-self: flex-end;
}

.chbutton button[type=button] {
    padding: 0.9em 1.2em;
    font-size: 1em;
    font-weight: 800;
    color: whitesmoke;
    background-color: steelblue;
    border-radius: 0.5em;
    box-shadow: 10px 10px 10px grey;
}

.chorders {
    background-color: lightgray;
    font-size: 1.5em;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.5em;
    border-top: 5px solid rgb(235, 134, 2);
    border-radius: 0.5em;
}

.chproduct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.2em;
}


/*
===================

MEDIA QUERIES

===================
*/

@media all and (max-width: 992px) {
    /*Single Item*/
    .singleitem {
        line-height: 2em;
    }

}

@media all and (max-width: 885px) {
    /*checkout button*/
    .chbutton {
        align-self: center;
    }

}

@media all and (max-width: 860px) {
    /*Single Item*/
    .singleitem {
        flex-direction: column;
        align-items: center;
        font-size: 1em;
        line-height: 2em;
    }

    .singleitem img{
        width: 400px;
    }

    .simg {
        align-self: center;
        margin-left: 0;
    }

    .sproductdetails {
        margin-left: 2em;
        margin-top: 2em;
    }
    .sproductname {
        align-self: center;
        font-size: 1.2em;
        margin-bottom: 1.5em;
    }

    .sbutton button{
        width: 100%;
        align-self: center;
        margin-top: 1.5em;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
    }

    .sselect-1 {
        margin-top: 1.2em;
        margin-bottom: 1.2em;
    }

    .sselect-2 {
        margin-bottom: 1.2em
    }

    .sdescription {
        margin-bottom: 1.2em
    }

}

@media all and (max-width:768px) {
    /* Index Page*/
    .menu input {
        padding: 3px;
        width: 20em;
    }
    .footer-1 p:nth-child(3) {
        margin-top: 1em;
    }

    .foot {
        font-size: 1em;
        font-weight: 500;
    }

    /* Items Page */
    .inextpage span {
        margin-left: 0.5em;
        margin-right: 0.5em;
        padding: 0.5em 0.5em;
    }

    .inextpage .button {
        border: 1.px solid black;
        background-color: gray;
    }

    .inextpage span:hover {
        border: 1px solid black;
        background-color: gray;
    }

    /*Checkout page*/
    .chpayment h3 {
        margin-top: 1.5em;
    }

}

@media all and (max-width:541px) {
    /*Index Page*/
    .menu input {
        padding: 0.5px;
        width: 15em;
    }
    .footer-1 p:nth-child(2) {
        margin-top: 0.6em;
    }
    .footer-1 p:nth-child(3) {
        margin-top: 0.6em;
    }

    .menu li {
        font-size: 0.6em;
        font-weight: 400;
    }

    .logo img {
        width: 35px;
    }

    .sale {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .countdown {
        font-size: 1em;
    }

    .sale p {
        font-size: 0.8em;
    }

    .categeory-1 {
        padding-top: 2em;
        font-size: 1.5em;
    }

    .categeory-2 a {
        text-decoration: none;
        color:whitesmoke;
        font-size: 1em;
        font-weight: 800;
    }

    .index-footer {
        margin-top: 2.5em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .footer-1 {
        font-size: 0.7em;
    }

    .footer-2 {
        font-size: 0.6em;
    }

    .foot {
        font-size: 0.9em;
        font-weight: 500;
    }

    /*Cart Page*/
    .coneitem img {
        width: 100px;
        border-radius: 0.5em;
        margin-bottom: 1em;
    }
    .cbody {
        font-size: 1em;
    }
    .coneitem {
        width: 90%;
    }
    .coneitem button[type=button] {
        padding: 0.3em 0.3em;
        font-size: 0.8em;
        font-weight: 400;
        color: whitesmoke;
        background-color: steelblue;
        border-radius: 0.3em;
        box-shadow: 5px 5px 5px grey;
    }

}

@media all and (max-width: 500px) {
    /*Single Item*/
    .singleitem img{
        width: 300px;
    }

    .singleitem {
        font-size: 0.8em;
    }

    .sbutton button{
        width: 100%;
        align-self: center;
        margin-left: 0;
}

@media all and (max-width: 415px) {
    /*index page*/
    .menu input {
        padding: 0.4px;
        width: 10em;
    }

    .logo {
        flex: 1;
    }
    
    .searchbar {
        flex: 2;
    }

    .sub-menu {
        flex: 2;
        justify-content: space-around;
    }

    /*Cart Page*/
    .coneitem img {
        width: 90px;
        border-radius: 0.4em;
        margin-bottom: 1em;
    }
    .cbody {
        font-size: 0.9em;
    }
    .coneitem {
        width: 95%;
        padding: 1em;
    }
    .coneitem button[type=button] {
        padding: 0.2em 0.2em;
        font-size: 0.6em;
        font-weight: 400;
        color: whitesmoke;
        background-color: steelblue;
        border-radius: 0.3em;
        box-shadow: 5px 5px 5px grey;
    }

    /*checkout page*/
    .chbody {
        font-size: 10px;
    }

    .chorders {
        font-size: 1.2em;
    }

    .chbody h3 {
        font-size: 1.2em;
    }

    .chbody h2 {
        font-size: 1.5em;
    }

    .chbody label {
        font-size: 1.2em;
    }

    .chbody input {
        width: 20em;
        padding: 0.3em;
        border-radius: 0.1em;
    }
}

@media all and (max-width: 376px) {
    /*Index page*/
    .menu {
        flex-wrap: wrap;
    }

    .menu input {
        padding: 0.4px;
        width: 18em;
    }

    .logo {
        flex: 1;
    }

    .logo img {
        width: 30px;
    }
    
    .searchbar {
        flex: 1;
    }

    .sub-menu {
        margin-top: 0.8em;
        flex: 1;
        justify-content: space-around;
    }

    .index-footer {
        margin-top: 2.5em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .footer-1 {
        font-size: 0.5em;
    }

    .footer-2 {
        font-size: 0.5em;
    }

    .foot {
        font-size: 0.7em;
        font-weight: 500;
    }

    /*Items page*/
    .inextpage span {
        margin-left: 0.3em;
        margin-right: 0.3em;
        padding: 0.3em 0.3em;
    }

    .inextpage .button {
        border: 1.px solid black;
        background-color: gray;
    }

    .inextpage span:hover {
        border: 1px solid black;
        background-color: gray;
    }

    /*checkou page*/
    .chbody input {
        width: 17em;
        padding: 0.3em;
        border-radius: 0.1em;
    }

    .chorders {
        width: 80%;
    }

}

@media all and (max-width: 350px) {
    /*items page*/
    .iitems{
        width: 80%;
        margin: auto;
        justify-content: center;
        grid-gap: 1.5em;
    }
    .inextpage span {
        margin-left: 0.3em;
        margin-right: 0.3em;
        padding: 0.2em 0.2em;
    }

    .inextpage .button {
        border: 1px solid black;
        background-color: gray;
    }

    .inextpage span:hover {
        border: 1px solid black;
        background-color: gray;
    }
}

@media all and (max-width: 281px) {
    .chbody input {
        width: 17em;
        padding: 0.3em;
        border-radius: 0.1em;
    }

    .chcontainer {
        width: 90%;
    }

    .chorders {
        width: 80%;
    }
}